
.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--1, .button--1 .button__bg{
  background: #2CD892;
  border: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.1em;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: background-color 0.1s ease-out;
  border-radius: 30px;
  @media (--max-tablet-mini) {
    padding: 15px 25px;
  }
}

.button--1:hover, .button--1 .button__bg:hover{
  background-color: #2CD892;
  color: #fff;
}

.button--1:focus, .button--1 .button__bg:focus{
  outline: none;
  color: #fff;
}

.safari .button, .safari .button__bg {
  filter: none !important;
}

.button--1 {
  position: relative;
  background: none;
  z-index: 0;
}

.button--1:hover {
  background: none;
}

.button--1:hover .circle {
  background: #2CD892;
}

.button--1:hover .button__bg {
  background: #2CD892;
}

.button--1 .button__container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  pointer-events: none;
  z-index: -1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.button--1 .button__bg, .button--1 .circle {
  -webkit-animation: hue-rotate 10s linear infinite;
  -moz-animation: hue-rotate 10s linear infinite;
  animation: hue-rotate 10s linear infinite;
}

.button--1 .button__bg {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button--1 .circle {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: #2CD892;
  transition: background-color 0.1s ease-out;
}

.button--1 .circle.top-left {
  top: 40%;
  left: 27%;
}

.button--1 .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}


@keyframes hue-rotate {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
