extends template/template-work.pug
block title
  title Madou Baoyo Design - granthsiao

block content
  main.works
    h1 Madou Baoyo
    h3 Branding Identity / Packaging / Graphic /

    .products
      img(src="imgs/baoyo_01.png")
    .products
      img(src="imgs/baoyo_02.png")
    .products
      img(src="imgs/baoyo_03.png")
    .products
      img(src="imgs/baoyo_04.png")    
