extends template/template-work.pug
block title
  title Rakuya International Info. Co. Ltd - granthsiao works

block content
  main.works
    h1 SEARCH PROCESS
    h3 Improve search housing data process and increase user booking (contact) with agent.

    .products
      img(src="imgs/cs01_01.png")
    .products
      img(src="imgs/cs01_02.png")

    h2 Define Core Process
    p.describe
      | Visitor find the right housing info and booking successful
    .products
      img(src="imgs/cs01_03.png")

    h2 Research
    p.describe Customer Service Dept. interview customers. Try understand user.
    .products
      img(src="imgs/cs01_04.png")

    h2 The three things that are most concerned
    .products
      img(src="imgs/cs01_05.png")
    br
    br
    h2 Problems while using "Rakuya" to search real estate.
    h4 Complex Search Setting UI
    .products
      img(src="imgs/cs01_06.png")
    h4 Complex Booking Form
    .products
      img(src="imgs/cs01_07.png")
    h4 Can’t understand housing info icon's meaning
    .products
      img(src="imgs/cs01_08.png")
    h4 Customer’ Top 3 favorite website pick
    .products
      img(src="imgs/cs01_09.png")

    h2 Re-design
    .products
      img(src="imgs/cs01_10.png")
    p.describe
      | 1. Detect user location or visited history cookies auto fill options
      br
      | 2. Highlight the 3 most common options for users.
      br
      | 3. Rearrange options.

    h4 Mobile Device Prototype Vote
    .products
      img(src="imgs/cs01_11.png")
    p.describe
      | 1. Create two different user behavior UI mockup.
      br
      | 2. Invite 20 colleagues and 20 customers to do usability test.
      br
      | 3. Vote and talk about their feelings.

    h4 New Booking UI Process
    .products
      img(src="imgs/cs01_12.png")
    p.describe
      | 1. Rearrange the booking form to housing detail page. (No more popup)
      br
      | 2. Auto fill known information.
      br
      | 3. Simplify the booking form.

    h2 Final User Interface
    .products
      img(src="imgs/cs01_13.png")
    .products
      img(src="imgs/cs01_14.png")
    .products
      img(src="imgs/cs01_15.png")
    .products
      img(src="imgs/cs01_16.png")
    .products
      img(src="imgs/cs01_17.png")
