extends template/template.pug
block css
  link(rel="stylesheet" type="text/css" href='css/main.css')
block title
  title Grant Hsiao Portfolio
block content
  main
    .content
      section.intro#section-1
        .thunder
          img(src="imgs/thunder.png")
        .logo
          img(src="imgs/logo.svg")
        h1 grant / hsiao
        h2 UI & UX / Frontend / Art Director

        .action
          svg.svg-filters(xmlns="http://www.w3.org/2000/svg", version="1.1")
            defs
              filter#filter-goo-1
                fegaussianblur(in="SourceGraphic", stddeviation="7", result="blur")
                fecolormatrix(in="blur", mode="matrix", values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9", result="goo")
                fecomposite(in="SourceGraphic", in2="goo")
          button#component-1.button.button--1 Let's Go
            span.button__container
              span.circle.top-left
              span.circle.top-left
              span.circle.top-left
              span.button__bg
              span.circle.bottom-right
              span.circle.bottom-right
              span.circle.bottom-right

      section.about#section-2
        h2.hideme ABOUT
        h2.TC.hideme 關於我
        .avatar
          a
            img(src="imgs/avatar.png")
        h3 Grant Hsiao
        .box
          .column
            .summary
              | 11 years web user interface design experience.
              br
              | 6 years experience leading design team.
              br
              | Branding and identity design.
              br
              | Scrum and agile development process experience.

            p.bio.
                Hello, I am Grant Hsiao. A UI/UX, frontend designer and art director.
                My passion is to create optimized user experience and bring
                innovation to  organizations via user-centered design methods.
                I also enjoy making fun projects about music, comics and video
                games when I am free.

          .skills
            h4 Skills /
            | SASS / SCSS / postCSS
            br
            | JavaScript / jQuery / Vue.js
            br
            | Git version controll
            br
            | Gulp / JADE (pug) / HTML5
            br
            | Graphic, branding and  package Ddesign
            br
            | IOS / Android UI design and UX rsearch
            br
            | Responsive web design
            br
            | Cross-browser compatible

        section.works#section-3
          .boxs
            .project
              a.hint(href="rakuya.html", target="_self", data-hint="Rakuya Info. Co. Ltd")
                img(src="imgs/works_10.png", alt="Rakuya Info. Co. Ltd")
            .project
              a.hint.dis(href="#", target="_self", data-hint="Inovative Vacuum System Co. Ltd")
                img(src="imgs/works_01.png")
            .project
              a.hint(href="https://yjlintw.github.io/comic-reader/", target="_blank", data-hint="Comic Reader")
                img(src="imgs/works_02.png", alt="Comic Reader")
            .project
              a.hint(href="baoyo.html", target="_self", data-hint="Madou Baoyo")
                img(src="imgs/works_03.png")
            .project
              a.hint.dis(href="#", target="_self", data-hint="0RZ bicycle parts.")
                img(src="imgs/works_04.png")
            .project
              a.hint(href="#", target="_self", data-hint="Goose Outdoor")
                img(src="imgs/works_05.png")
            .project
              a.hint(href="http://1094hot.com/", target="_blank", data-hint="Tori tetsu")
                img(src="imgs/works_06.png")
            .project
              a.hint.dis(href="#", target="_self", data-hint="Basement Amp")
                img(src="imgs/works_08.png")
            .project
              a#music.hint(href="#", target="_self", data-hint="Soundcloud / Music Works")
                img(src="imgs/works_09.png")
                .soundcloud
                  iframe(width='100%', height='100%', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/38257373&color=%232f2e41&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true')
            .project
              a.hint(href="caseStudy01.html", target="_self", data-hint="Case Study - Rakuya Search")
                img(src="imgs/works_07.png")


block js
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="js/plugin/TweenMax.min.js")
  script(src="js/plugin/button.js")
  script(src="js/main.js")
