extends template/template.pug
block css
  link(rel="stylesheet" type="text/css" href='css/main.css')
block title
  title Grant Hsiao Portfolio
block content
  main
    .content
      section.intro
        .logo
          img(src="imgs/logo.svg")
        h1 grant / hsiao
        h2 UI & UX / Frontend / Graphic Designer

        .action
          svg.svg-filters(xmlns="http://www.w3.org/2000/svg", version="1.1")
            defs
              filter#filter-goo-1
                fegaussianblur(in="SourceGraphic", stddeviation="7", result="blur")
                fecolormatrix(in="blur", mode="matrix", values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9", result="goo")
                fecomposite(in="SourceGraphic", in2="goo")
          button#component-1.button.button--1 Let's Go
            span.button__container
              span.circle.top-left
              span.circle.top-left
              span.circle.top-left
              span.button__bg
              span.circle.bottom-right
              span.circle.bottom-right
              span.circle.bottom-right

      section.about
        .avatar
          img(src="imgs/avatar.png")
        .summary
          | 11 years web user interface design experience.
          br
          | 6 years experience leading design team.
          br
          | Branding and identity design.
          br
          | Scrum and agile development process experience.

        .intro.
          Hello, I am Grant Hsiao. A UI/UX, frontend and graphic designer.
          My  passion is to create optimized user experience and bring
          innovation to  organizations via user-centered design methods.


block js
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="js/plugin/TweenMax.min.js")
  script(src="js/plugin/button.js")
  script(src="js/main.js")
