extends template/template-work.pug
block title
  title Rakuya International Info. Co. Ltd - granthsiao works

block content
  main.works
    h1 Rakuya Info. Co. Ltd
    h3 Branding Identity / Art Director / FrontEnd / UX / UI

    .products
      img(src="imgs/rakuya_01.png")
    .products
      img(src="imgs/rakuya_02.png")

    h2 Terminal Web Design
    p.describe
      | Using Gulp  ,browserSync and atom to live edit webpage.
      br
      | PostCSS , nanoCSS and lost grid  to controll layout and cross browser compatibility.
      br
      | cssnano, cssnext, gulp-uglify to optimise CSS code.
      br
      | Pug and gulp-concat to edit html and  combine multiple files.

    h2 CSS framework
    p.describe
      Create CSS framework for web frontend develope.

    .products
      img(src="imgs/rakuya_03.png")

    h2 Events
    p.describe
      Event Web pages and visuals design.

    .products
      img(src="imgs/rakuya_04.png")
