header
  .m-menu
    span.menu-circle
    a(href="#").menu-link
      span.menu-icon
        span.menu-line.menu-line-1
        span.menu-line.menu-line-2
        span.menu-line.menu-line-3
  .menu-overlay
    ul
      li
        a(href="#") About
      li
        a(href="#") Works
      li
        a(href="resume.pdf") Resume
  nav.menu
    ul
      li
        a(href="#").list__item--link ABOUT
      li
        a(href="#").list__item--link WORKS
      li
        a(href="resume.pdf" target="_blank").list__item--link RESUME
