doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Content-Language" content="zh-tw")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui")
    meta(name="theme-color" content="#ffffff")

    meta(name="description" content="Hello, I am Grant Hsiao. A UI/UX, frontend designer and art director.")
    meta(name="keyword" content="art-director, UI/UX Designer, Graphic Designer, Portfolio")
    meta(name="subject" content="Grant Hsiao Portfolio")
    meta(name="author" content="Grant Hsiao")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://fuluboy.github.io/granthsiao/")
    meta(property="og:title" content="Grant Hsiao Portfolio")
    meta(property="og:image"  content="https://fuluboy.github.io/granthsiao/img/meta.png")
    meta(property="og:description"  content="Hello, I am Grant Hsiao. A UI/UX, frontend designer and art director.")
    meta(property="og:site_name"  content="grant hsiao portfolio")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")

    link(rel="stylesheet" type="text/css" href="css/common.css")
    link(rel="stylesheet" type="text/css" href="css/template.css")
    script(src='http://code.jquery.com/jquery.min.js')
    block css
    block title
      title 無標題
  body
    include template-menu.pug
    block content
    include template-footer.pug
    block js
