header
  nav.menu
    ul.menu__list
      li.menu__list__item
        a(href="#").list__item--link ABOUT
      li.menu__list__item
        a(href="#").list__item--link WORKS
      li.menu__list__item
        a(href="#").list__item--link CONTACT
