extends template/template.jade
block css
  link(rel="stylesheet" type="text/css" href='css/common.css')
block title
  title Grant Hsiao
block content

block js
  script(src="js/plugin/slick.min.js")
  script(src="js/main.js")
