extends template/template.jade
block css
  link(rel="stylesheet" type="text/css" href='css/main.css')
block title
  title Grant Hsiao Portfolio
block content
  h1 grant hsiao
block js
  script(src="js/plugin/slick.min.js")
  script(src="js/main.js")
